.guide-line-logo {
    width: 120px;
    height: 120px;
}

.content td {
    font-size: 18px;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
}

.content tr {
    margin-top: 10px;
    margin-bottom: 10px;
}




