{% extends "layout.html" %}
{% block content %}
    <head profile="http://www.w3.org/2005/10/profile">
    <link link rel="icon" type="image/png" href="http://example.com/myicon.png">
    </head>
    <link href="http://fonts.googleapis.com/earlyaccess/notosanskr.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/page-content.css">
    <link rel="stylesheet" href="../static/css/guide.css">

    <div class="card-header"><h2>GUIDE LINE</h2></div>
    <div class="card-body">
    <div class="content">
        <table>
            <tr>
                <td>
                <img class="guide-line-logo" src="https://msjonas.myds.me/guideline_icon/positive01.png" alt="guideline_icon_pos01">
                <img class="guide-line-logo" src="https://msjonas.myds.me/guideline_icon/negative01.png" alt="guideline_icon_neg01">
                </td>
                <td>
                <img class="guide-line-logo" src="https://msjonas.myds.me/guideline_icon/positive02.png" alt="guideline_icon_pos02">
                <img class="guide-line-logo" src="https://msjonas.myds.me/guideline_icon/negative02.png" alt="guideline_icon_neg02">
                </td>
                <td>
                <img class="guide-line-logo" src="https://msjonas.myds.me/guideline_icon/positive03.png" alt="guideline_icon_pos03">
                <img class="guide-line-logo" src="https://msjonas.myds.me/guideline_icon/negative03.png" alt="guideline_icon_neg03">
                </td>
                <td>
                <img class="guide-line-logo" src="https://msjonas.myds.me/guideline_icon//positive04.png" alt="guideline_icon_pos04">
                <img class="guide-line-logo" src="https://msjonas.myds.me/guideline_icon/negative04.png" alt="guideline_icon_neg04">
                </td>
            </tr>
            <tr>
                <td>
                    촬영은 가로로!
                </td>
                <td>
                    인접한 사진과 30%이상<br/> 겹쳐지도록 촬영!
                </td>
                <td>
                    정면이 아니라,<br/>  카메라를 바라보기!
                </td>
                <td>
                    촬영 중에,<br/>  움직이지 않기!
                </td>
            </tr>
        </table>
    </div>
    </div>
{% endblock %}